/* For the Underline below Compose Tweet */
main hr {
  border:black;
  width:100%;
  height:1px;
  color: black;
  background-color: black;
}

main section.new-tweet {
  margin:auto;
  border: 1px solid black;
  background-color: #F0ECEC;
  padding: 5px;
}

main section input {
  display: inline;
}

/* The Character counter */
main section span {
  float:right;
  line-height: 25px;
}
main section textarea {
  width: 100%;

}
.new-tweet h2 {
  margin: 0px 0px;
}

/* To change the character count to red if exceeded */
.red-text{
  color:red;
}

/* STYLES FOR CREATING A NEW TWEET */

/* Tweet-Content Styles */
.tweet-holder {
  margin-top: 10px;
}

.tweet-holder:hover {
  margin-top: 10px;

}

/* Header Styles */
.tweet-holder header {
  height: 50px;
  background-color: white;
}

.tweet-holder img {
  width: 50px;
  height: 50px;
  float:left;
}

.tweet-holder #full-name{
  float:left;
  margin: 1px;
}

.tweet-holder #user-name{
  float:right;
  margin: 1px;
  line-height: 25px;
}


/* Footer Styles */

.tweet-holder footer {
  height: 40px;
  /* background-color: #9B8989; */
  background-color: white;
  padding:2px;
}

.tweet-time {
  font-size: 0.75em;
  line-height: 20px;
  display:inline;
  float:left;
}

.footer-icons {
  background-color: pink;
  padding: 5px;
  float:right;
  visibility: hidden;
}

.footer-icon {
  text-decoration: none;
  color: white;
}

.footer-icon:hover {
  text-decoration: none;
  visibility:visible;
  color: yellow;
}

.tweet-holder:hover .footer-icons{
  font-size:20px;
  float:right;
  visibility:visible;
}