/* For the Underline below Compose Tweet */
main hr {
  border: #F5F7F7;
  width: 100%;
  height: 1px;
  color: #F5F7F7;
  background-color: #F5F7F7;
}

main section.new-tweet {
  margin: auto;
  border: 1px solid #F5F7F7;
  background-color: #F5F7F7;
  padding: 8px 10px;
  border-radius: 5px;
}

main section input {
  display: inline;
}

/* The Character counter */
main section span {
  float:right;
  line-height: 25px;
}
main section textarea {
  height: 80px;
  width: 100%;
  border: 1px solid #F5F7F7;
  border-radius: 5px;
  padding: 10px;

}
.new-tweet h2 {
  margin: 0px 0px;
}

/* Red Character Counter after 140 characters */
.red-text{
  color:red;
}

/* New Tweets */

#submit-tweet {
  background: #79c5ec;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.tweet-holder {
  margin-top: 10px;
  border: 1px solid #F5F7F7;
}

.tweet-holder:hover {
  margin-top: 10px;

}


/* Header Styles */
.tweet-holder header {
  height: 50px;
  background-color: #F5F7F7;
}

.tweet-holder img {
  width: 50px;
  height: 50px;
  float:left;
}

.tweet-holder #full-name{
  float:left;
  margin: 1px 5px;
  line-height: 50px;
}

.tweet-holder:hover #full-name{
  float:left;
  margin: 1px;
  font-weight:bold;
}


.tweet-holder #user-name{

  margin: 2px 5px;
  float: right;
  line-height: 50px;
}


/* Footer Styles */

.tweet-holder footer {
  height: 40px;
  background-color: white;
  padding:2px;
  border-top: 1px solid #F5F7F7;
  margin: 0 15px;
}

.tweet-time {
  font-size: 0.75em;
  display:inline;
  float:left;
  line-height: 40px;
}

.footer-icons {
  padding: 5px;
  float:right;
  visibility: hidden;
}

.footer-icon {
  text-decoration: none;
  color: #79c5ec;
}

.footer-icon:hover {
  text-decoration: none;
  visibility:visible;
  color: rgba(12, 110, 175, 0.96);
}

.tweet-holder:hover .footer-icons{
  font-size:20px;
  float:right;
  visibility:visible;
}

/* Text Styles */

#tweet-content {
  margin: 20px 15px;
}